.jumbotron {
    background-color: Black !important;
   
}
.vertical-center {
    text-align: center !important;
    padding: 5.938rem;
}
.display {
    font-weight: 500;
    color:white;
}
.nav-btn {
    margin-top: 0.625rem ;
    margin-bottom: 0.625rem;
    width: 10.625rem;
    color: white;
    border: 0.063rem solid white;
    outline: none;
    background-color: transparent;
}
.nav-btn:hover {
    color:orange;
    border: 0.063rem solid orange;
    outline: none;
}
.nav-item {
    padding-right: 0.625rem; 
}
.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    
}