/*Skills section */
.logo {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 130px;
    width: 130px;
}
.img-shape {
    border-radius: 50%;
}
/*Skills section end*/
/*Projects section*/
.main-title {
    text-align: center;
}
.center{
    text-align: center;
}
.gallery img{
    height: 240px;
    width: 240px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow:1px 1px 3px 3px #888888;
}
/*Projects section end*/
/*Contact section*/  
.contact-info-items{
    color: lightgray;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 10px;
}
/*Contact section end*/